<!DOCTYPE html>
<html>

<body>
    <form action="/register" method="POST">
        <input type="text" name="username" id="ru">
        <input type="password" name="password" id="rp">
        <button type="submit">Register</button>
    </form>
    <form action="/login" method="POST">
        <input type="text" name="username" id="lu">
        <input type="password" name="password" id="lp">
        <button type="submit">Log in</button>
    </form>
</body>

</html>